body{
	margin:0;
	font-family: "PT Sans",'Helvetica Neue',Arial,Helvetica,sans-serif;
	scroll-behavior:smooth;
}
li{
	list-style: none;
	cursor: pointer;
}

.navbar{
	width: 100%;
	padding-bottom:15px;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(51, 51, 51,1);
}
.navbar-logo{
	width: 20%;
	padding-left: 7%;
	font-size: 40px;
}

.navbar-labels{
	color:#e3e3e3;
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 25px;
	align-items: baseline;
}
.navbar-labels a{
	color: #e3e3e3;
	text-decoration: none;
}
.label-home {
	cursor: pointer;
}
.label-about{
	cursor: pointer;
}
.label-sponser{
	cursor: pointer;
}
.label-register {
	cursor: pointer;
}
.label-contact{
	cursor: pointer;
}
.label-home:hover {
	font-size:30px;
}
.label-about:hover{
	font-size:30px;
}
.label-sponser:hover{
	font-size:30px;
}
.label-register:hover{
	font-size:30px;
}
.label-contact:hover{
	font-size:30px;
}


.sponser{
	margin:50px auto;
	text-align: center;
}
.sponser-heading{
	font-size:40px;
	letter-spacing: 5px;
}
.sponser-form{
	font-size: 30px;
}



/*Article*/
.article{
	width:80%;
	margin:50px auto;

}
.article-heading{
	margin-bottom: 20px;
	font-size:94px;
	color: #2a2e2b;
	letter-spacing: 10px;
	font-family: 'Bree Serif', serif;
}
.article-content{
	font-size:25px;
	color:#575957;
	text-align: justify;
}
.article-image{
	margin:20px;
	width: 40%;
	height: 350px;
}

/*Register column*/
.register{
	width: 100%;
	margin-top: 40px;
	text-align: center;
}
.register-heading{
	color: #3e3f42;
	letter-spacing: 15px;
	font-size:50px;
	padding-top: 40px;
	padding-bottom: 30px;
	text-align: center;
}
.register-button{
	cursor: pointer;
	width: 200px;
	border-radius:10px;
	letter-spacing: 10px;
	background-color: #e63922;
	color: white;
	margin:20px auto;
	padding-top:10px;
	padding-bottom:10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 25px;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
  	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:3px 3px 5px 6px #ccc;

    margin-bottom:40px;
}
.register-button:hover{
	-moz-box-shadow:    3px 3px 5px 6px #949488;
  	-webkit-box-shadow: 3px 3px 5px 6px #949488;
    box-shadow:3px 3px 5px 6px #949488;
}


.footer{

	background-color: rgba(51, 51, 51,0.6);
	color: white;
	font-size: 20px;
	padding:30px;
	padding-top: 10px;
	text-align: center;
}
#footer-email{
	background-color:rgba(51, 51, 51,0.8);
	color: white;
	padding:5px;
	width: 200px;
	border: none;
	font-size: 20px;
	margin:10px; 
	margin-bottom: 0;
	cursor: text;
}
#footer-submit{
	background-color: rgba(51, 51, 51,0.5);
	color: white;
	padding:5px;
	margin:10px;
	border:none;
	font-size: 20px;
	cursor: pointer;
	margin-bottom: 0;
}
.footer_content{
	list-style-type: none;
	width: 70%;
	margin:20px auto;
	cursor: pointer;
	font-size: 25px;
	display: flex;
	justify-content: space-around;

}
.footer_content:hover{
	background-color:rgba(51, 51, 51,0);
}
#footer-icon{
	padding-left: 100px;
}




/*Footer End*/




.footer-end{
	height: 100px;
	background-color:rgb(35, 30, 30);
	color: white;
	text-align: center;
	line-height:40px;
}
.footer-end-heading{
	font-size:40px;
	padding-top: 10px;
}
.footer-end-copyright{
	color:lightgrey;
	font-size:15px;
}







